.hero-professionals {
    @include mq($until: screen-md) {
        // width: calc(100% - 30px);
        // margin: 0 15px 15px 15px;
        margin: 0 0 15px 0;
        background-image:
            radial-gradient(
            circle at bottom center,
            #5d6069,
            #282a2d
            );
    }
    @include mq($until: screen-xm) {
        margin-bottom: 25px;
    }
    .hero-wrapper {
        display: none;
        @include mq($until: screen-md) {
            display: block;
        }
    }
    .hero-person {
        height: 90%;
        bottom: -80px;
        @include mq($until: screen-md) {
            width: 320px;
            height: auto;         
        }
        @include mq($until: screen-xm) {
            width: 280px;
        }
        img {
            right: -15%;
            @include mq($until: screen-xl) {
                right: -20%;
            }
            @include mq($until: screen-md) {
                right: 0;
                bottom: -40px;
            }
            @include mq($until: screen-sl) {
                right: -50px;
            }
            @include mq($until: screen-sl) {
                right: -70px;
            }
        }
    }
    .hero-person-steve {
        display: none;
        @include mq($until: screen-md) {
            display: block;
            right: 30px;
            bottom: 30px;
            font-size: 24px;
            line-height: 20px;
            text-align: right;
        }
        span {
            font-size: 32px;
            line-height: 28px;
        }
    }
}
