.hero-roadmap {
    color: $color-black;
    background-color: $color-white;
    &:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-white;
        @include mq($until: screen-md) {
            display: none!important;
        }
    }
    h3 {
        /*position: relative;
        z-index: 1;*/
        display: inline-block;
        font-size: 24px;
        min-height: 123px;
        margin-top: 60px;
        margin-left: 80px;
        @include mq($until: screen-md) {
            font-size: 24px;
            line-height: 23px;
            min-height: 73px;
            margin: 0;
        }
        @include mq($until: screen-xm) {
            font-size: 18px;
            line-height: 17px;
        }
        @include mq($until: screen-xs) {
            margin-right: 110px;
        }
        span {
            display: block;            
            position: relative;
            left: -3px;
            font-size: 100px;
            line-height: 100px;
            @include mq($until: screen-md) {
                left: 0;
                font-size: 50px;
                line-height: 50px;
            }
            @include mq($until: screen-xm) {
                font-size: 36px;
                line-height: 36px;
            }
        }
    }
    .swiper-slide {
        @include flexbox();
        @include flex-direction(column);
        // @include justify-content(space-around);
        // max-height: 180px;
        background: transparent;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            width: 50%;
            height: 9px;
        }
        &:before {
            left: 28px;
            background-color: $color-black;
        }
        &:after {
            right: 0;
            background-color: $color-black;
        }
        h4, p {
            opacity: .3;
            @include transition(opacity, .5s, ease-out);
        }
        h4 {
            font-family: $font-extra;
            font-size: 24px;
            line-height: 18px;
            padding: 20px 0;
            span {
                display: block;
                font-size: 16px;
            }
        }
        p {
            @include flexbox();
            @include justify-content(center);
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
            // margin: 20px 0;
            padding: 30px 10%;
            min-height: 180px;
            @include mq($until: screen-md) {
                padding: 0;
                width: 100%;
                br {
                    display: none;
                }
            }
            @include mq($until: screen-sl) {
                padding-left: 11%;
                padding-right: 11%;
            }
            @include mq($until: screen-xs) {
                font-size: 16px;
                line-height: 20px;
                padding-left: 45px;
                padding-right: 45px;
            }
        }
        div.hero-slide-preico:last-child {
            border: 2px solid red;
        }
    }
    .hero-slide-end-preico {
        &:before {
            background-color: $color-orange;
        }
        &:after {
            background-color: $color-cyan;
        }
        svg {
            fill: $color-cyan;
            shape-rendering: geometricPrecision;
        }
    }
    .hero-slide-preico {
        &:before,
        &:after {
            background-color: $color-orange;
        }
        svg {
            fill: $color-orange;
        }
    }
    .hero-slide-ico {
        &:before,
        &:after {
            background-color: $color-cyan;
        }
        svg {
            fill: $color-cyan;
        }
    }
}

.hero-sections {
    .hero-roadmap {
        @include mq($until: screen-xm) {
            padding-bottom: 100px;
        }
    }
}

.hero-swiper-links {
    position: absolute;
    top: -95px;
    right: 0;
    z-index: 4;
    @include mq($until: screen-md) {
        top: -48px;
    }
    @include mq($until: screen-xm) {
        top: -54px;
    }
    a {
        display: inline-block;
        color: $color-black;
        font-family: $font-extra;
        font-size: 24px;
        line-height: 22px;
        margin-right: 12px;
        @include transition(border, .25s, ease-in-out);
        &:hover {
            border-color: transparent;
        }
        &:last-child {
            margin-right: 0;
        }
    }    
}
.hero-link-preico {
    border-bottom: 3px solid $color-orange;
}
.hero-link-ico {
    border-bottom: 3px solid $color-cyan;
}

.hero-roadmap-dot {
    position: relative;
    z-index: 3;
    display: block;
    width: 14px;
    height: 15px;
    margin: 0 auto;
    background-color: $color-white;
    border: 4px solid #cbcbcb;
    @include border-radius(15px);
}
.hero-roadmap-line,
.hero-roadmap-line-start {
    position: absolute;
    top: 50%;
    right: -30px;
    z-index: 3;
    width: 59px;
    height: 98px;
    background-color: $color-white;
    backface-visibility: hidden;
}
.hero-roadmap-line-start {
    left: -30px;
    svg {
        fill: $color-orange;
    }
}
.hero-slide-top {
    &:first-child {
        .hero-roadmap-line-start {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: -1000px;
                width: 1000px;
                height: 9px;
                background-color: $color-orange;
            }
        }
    }
    &:last-child {
        .hero-roadmap-line {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 58px;
                width: 1000px;
                height: 9px;
                background-color: $color-cyan;
            }
        }
    }
    &:before,
    &:after {
        top: calc(50% + 89px)!important;
    }
    p {
        @include align-items(flex-start);
    }
    .hero-roadmap-line {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    .hero-slide-wrapper {
        position: relative;
        top: 145px;
        z-index: 9;
        @include mq($until: screen-md) {
            top: 166px;
        }
    }
}
.hero-slide-bottom {
    &:last-child {
        .hero-roadmap-line {
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 58px;
                width: 1000px;
                height: 9px;
                background-color: $color-cyan;
            }
        }
    }
    p {
        @include align-items(flex-end);
    }
    .hero-slide-wrapper {
        position: relative;
        top: -48px;
        z-index: 9;
        @include mq($until: screen-md) {
            top: -67px;
        }
    }
}
.swiper-slide-active,
.swiper-slide-active + div,
.swiper-slide-active + div + div {
    h4, p {
        opacity: 1!important;
    }
}

.swiper-container {
    width: 100%;
    // height: calc(100% - 344px);
    height: calc(100% - 400px);
    overflow: visible;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
