.hero-investors {
    @include transition(background-color, 1s, ease-in-out);
    @include mq($until: screen-md) {
        background-color: $color-dark-blue;
        transition: none;
    }
    &:before {
        content: '';
        display: block;
        clear: both;
        position: absolute;
        top: 0;
        left: -2px;
        width: 100%;
        height: 100%;
        padding-right: 2px;
        background-image: url(img/hero-grid-investors.png);
        opacity: 0;
        @include mq($until: screen-md) {
            display: none;
        }
    }
    .hero-wrapper {
        height: 100%;
    }
    .hero-investors-chart,
    .hero-investors-price {
        @include mq($until: screen-md) {
            position: relative;
            left: 0;
            bottom: 0;
            max-width: 100%;
            opacity: 1;
            visibility: visible;
        }
    }
    .hero-investors-chart {
        @include mq($until: screen-md) {
            margin-top: 10px;
            padding-right: 150px;
            .hero-investors-chart-invest {
                width: $percent-investors;
            }
            .hero-investors-chart-development {
                width: $percent-development;
            }
            .hero-investors-chart-team {
                width: $percent-team;
            }
            .hero-investors-chart-reserve {
                width: $percent-team;
            }
        }
    }
    .hero-investors-price {
        @include mq($until: screen-md) {
            @include justify-content(space-between);
            margin-top: 40px;
        }
    }
}

.hero-investors-circle {
    position: relative;
    top: 46%;
    left: 50%;
    width: 88%;
    height: 100%;
    max-width: 620px;
    max-height: 620px;
    margin-top: -310px;
    margin-left: -310px;
    text-align: center;
    @include mq($until: screen-md) {
        top: 0;
        left: 0;
        margin: 0 auto;
    }
    @include mq($until: screen-xs) {
        width: 100%;
    }
    img {
        animation-name: hero-circle;
        animation-duration: 50000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
.hero-investors-circle-desc {
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 100%;
    height: 100px;
    margin-top: -50px;
    color: $color-white;
    font-family: $font-extra;
    font-size: 24px;
    text-align: center;
    @include mq($until: screen-md) {
        margin-top: -48px;
    }
    @include mq($until: screen-sl) {
        margin-top: -42px;
    }
    @include mq($until: screen-sm) {
        margin-top: -36px;
    }
    @include mq($until: screen-xm) {
        font-size: 24px;
        margin-top: -30px;
    }
    @include mq($until: screen-xs) {
        font-size: 18px;
        margin-top: -24px;
    }
    span {
        display: block;
        font-size: 100px;
        @include mq($until: screen-md) {
            font-size: 72px;
        }
        @include mq($until: screen-sl) {
            font-size: 60px;
        }
        @include mq($until: screen-sm) {
            font-size: 48px;
        }
        @include mq($until: screen-xm) {
            font-size: 36px;
        }
        @include mq($until: screen-xs) {
            font-size: 30px;
        }
    }
}

.hero-investors-name {
    position: absolute;
    top: 80px;
    // left: 100px;
    z-index: 1;
    font-family: $font-extra;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    // transition-delay: .75s;
    transition-delay: .5s;
    // @include transition(all, 1.3s, ease-in-out);
    @include mq($until: screen-md) {
        position: relative;
        top: 0;
        left: 0;
        font-size: 24px;
        line-height: 23px;
        opacity: 1;
        visibility: visible;
    }
    @include mq($until: screen-xm) {
        font-size: 18px;
        line-height: 17px;
    }
    span {
        display: block;
        font-size: 48px;
        @include mq($until: screen-md) {
            font-size: 50px;
            line-height: 50px;
        }
        @include mq($until: screen-xm) {
            font-size: 36px;
            line-height: 36px;
        }
    }
}

.hero-investors-chart {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    position: absolute;
    left: 100px;
    bottom: 45px;
    width: 100%;
    height: 94px;
    max-width: 226px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    @include mq($until: screen-xx) {
        left: 80px;
    }
    @include mq($until: screen-xm) {
        height: 100px;
    }
    .hero-investors-chart-bar {
        position: relative;
        width: 0;
        height: 4px;
        background-color: $color-white;
    }
    .hero-investors-chart-pct {
        position: absolute;
        top: -8px;
        right: -53px;
        font-size: 16px;
    }
    .hero-investors-chart-desc {
        position: absolute;
        top: -8px;
        right: -358px;
        width: 300px;
        font-size: 16px;
    }
    .hero-investors-chart-invest {
        width: 0;
        .hero-investors-chart-pct {
            &::before {
                content: ''+$percent-investors+'';
                display: block;
            }
        }
    }
    .hero-investors-chart-development {
        .hero-investors-chart-pct {
            &::before {
                content: ''+$percent-development+'';
                display: block;
            }
        }
    }
    .hero-investors-chart-team {
        .hero-investors-chart-pct {
            &::before {
                content: ''+$percent-team+'';
                display: block;
            }
        }
    }
    .hero-investors-chart-reserve {
        .hero-investors-chart-pct {
            &::before {
                content: ''+$percent-reserve+'';
                display: block;
            }
        }
    }
}

.hero-investors-price {
    @include flexbox();
    @include flex-direction(row);
    position: absolute;
    right: 100px;
    bottom: 45px;
    font-family: $font-extra;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    @include mq($until: screen-xx) {
        right: 80px;
    }
    span {
        display: block;
    }
    .hero-token-standard {
        display: none;
        @include mq($until: screen-md) {
            display: block;
            position: relative;
            top: auto;
            right: auto;
            opacity: 1;
            visibility: visible;
        }
    }
}

.hero-price {
    text-align: center;
    .hero-price-value {
        font-size: 24px;
        line-height: 22px;
    }
}
.hero-token-standard {
    position: absolute;
    top: 80px;
    right: 40px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    // transition-delay: .75s;
    transition-delay: .5s;
    // @include transition(all, 1.3s, ease-in-out);
    @include mq($until: screen-xx) {
        right: 20px;
    }
    @include mq($until: screen-md) {
        display: none;
    }
    span {
        display: block;
    }
    .hero-token-standard-title {
        font-size: 20px;
        @include mq($until: screen-xs) {
            font-size: 18px;
        }
    }
}
.hero-token-standard-now {
    margin-top: -5px;
}
.hero-token-standard-now,
.hero-token-standard-then {
    font-size: 20px;
}
.hero-token-standard-arrow {
    width: 12px;
    margin: 5px auto;
    svg {
        fill: $color-white;
    }
}
.hero-token-standard-graphene {
    font-size: 30px;
}
.hero-token-bonus {
    @include mq($until: screen-md) {
        display: none;
    }
}
.hero-token-bonus,
.hero-token-standard {
    font-family: $font-extra;
    text-align: center;
    padding-right: 60px;
    @include mq($until: screen-xs) {
        padding-right: 20px;
    }
}
.hero-price-title {
    @include mq($until: screen-xs) {
        font-size: 18px;
    }
}
.hero-price-title,
.hero-token-bonus-title,
.hero-token-standard-title {
    background-color: $color-white;
    color: $color-dark-blue;
    padding: 4px 4px 0 4px;
    margin-bottom: 7px;
    opacity: 0;
    @include mq($until: screen-md) {
        opacity: 1;
    }
}
.hero-price-value,
.hero-token-bonus-name,
.hero-token-standard-name {
    font-size: 48px;
    opacity: 0;
    visibility: hidden;
    @include mq($until: screen-md) {
        opacity: 1;
        visibility: visible;
    }
    @include mq($until: screen-xm) {
        font-size: 36px;
    }
    @include mq($until: screen-xs) {
        font-size: 30px;
    }
}

.viewing-page-6 {
    .hero-investors {
        background-color: $color-dark-blue;
        &:before {
            opacity: 1;
            @include transition(opacity, 5s, ease-in-out);
        }
    }
    .hero-investors-name,
    .hero-token-standard,
    .hero-token-standard-title,
    .hero-token-standard-name {
        opacity: 1;
        visibility: visible;
    }
    .hero-investors-chart {
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: ease-in;
        // transition-delay: 1.25s;
        transition-delay: .5s;
    }
    .hero-investors-chart,
    .hero-investors-price {
        opacity: 1;
        visibility: visible;
    }
    .hero-investors-chart-bar {
        transition-property: width;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        transition-delay: .5s;
    }
    .hero-investors-chart-invest {
        width: $percent-investors;
    }
    .hero-investors-chart-development {
        width: $percent-development;
    }
    .hero-investors-chart-team {
        width: $percent-team;
    }
    .hero-investors-chart-reserve {
        width: $percent-reserve;
    }
    .hero-price-title,
    .hero-token-bonus-title/*,
    .hero-token-standard-title*/ {
        animation-name: blink;
        animation-duration: .1s;
        // animation-delay: 2.25s;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(.5, 0, 1, 1);
        animation-iteration-count: 5;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
    .hero-price-value,
    .hero-token-bonus-name/*,
    .hero-token-standard-name*/ {
        animation-name: blink;
        animation-duration: .25s;
        // animation-delay: 2.75s;
        animation-delay: 1.5s;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    }
}
