.hero-links {
    @include flexbox();
    @include flex-direction(column);
    // display: none;
    position: fixed;
    top: 24%;
    left: 50%;
    z-index: 2;
    max-width: 1137px;
    margin-left: -388px;
    opacity: 0;
    visibility: hidden;
    @include transition(all, .3s, ease-in-out);
    @include mq($until: screen-md) {
        display: none;
    }
    a {
        @include align-self(flex-start);
        // display: inline-block;
        color: $color-white;
        font-family: $font-extra;
        font-size: 24px;
        margin-bottom: 20px;
        @include transition(color, .3s, ease-in-out);
        &:hover {
            color: $color-cyan;
        }
        &:last-child {
            margin-bottom: 0;
        }
        span {
            @include transition(font-size, .5s, ease-out);
        }
    }
}

.viewing-page-2 {
    .hero-links {
        // @include flexbox();
        opacity: 1;
        visibility: visible;
    }
    .hero-link-individuals {
        pointer-events: none;
        span {
            display: block;
            margin-left: -3px;
            font-size: 100px;
        }
    }
}
.viewing-page-3 {
    .hero-links {
        // @include flexbox();
        opacity: 1;
        visibility: visible;
    }
    .hero-link-professionals {
        pointer-events: none;
        span {
            display: block;
            margin-left: -3px;
            font-size: 100px;
        }
    }
}
.viewing-page-4 {
    .hero-links {
        // @include flexbox();
        opacity: 1;
        visibility: visible;
    }
    .hero-link-influencers {
        pointer-events: none;
        span {
            display: block;
            margin-left: -3px;
            font-size: 100px;
        }
    }
}
.viewing-page-5 {
    .hero-links {
        // @include flexbox();
        opacity: 1;
        visibility: visible;
    }
    .hero-link-businesses {
        pointer-events: none;
        span {
            display: block;
            margin-left: -3px;
            font-size: 100px;
        }
    }
}
