.hero-individuals {
    @include mq($until: screen-md) {
        // width: calc(100% - 30px);
        // margin: 0 15px 15px 15px;
        margin: 0 0 15px 0;
        background-image:
            radial-gradient(
            circle at bottom center,
            #5d6069,
            #282a2d
            );
    }
    @include mq($until: screen-xm) {
        margin-bottom: 25px;
    }
    .hero-wrapper {
        display: none;
        @include mq($until: screen-md) {
            display: block;
        }
    }
    .hero-person {
        // bottom: -20px;
        @include mq($until: screen-xm) {
            bottom: -30px;
        }
        img {
            @include mq($until: screen-md) {
                right: -20%;
            }
            @include mq($until: screen-xm) {
                right: -30%;
            }
        }        
    }
}
