.hero-timer {
    color: $color-black;
    background-color: $color-white;
    .hero-wrapper {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
    }
}

#hero-timer {
    @include flexbox();
    @include flex-direction(row);
    position: relative;
    top: -60px;
    // color: $color-light-gray;
    font-family: $font-extra;
    font-size: 100px;
    @include mq($until: screen-md) {
        top: 0;
        font-size: 50px;
    }
    @include mq($until: screen-xm) {
        font-size: 36px;
    }
    div {
        text-align: center;
        margin: 0 20px;
        @include mq($until: screen-xm) {
            margin: 0 10px;
        }
    }
    span {
        display: block;
        font-family: $font-base;
        font-size: 18px;
        font-weight: bold;
        @include mq($until: screen-md) {
            font-size: 16px;
        }
        @include mq($until: screen-xm) {
            font-size: 14px;
        }
    }
}
#hero-timer-desc {
    display: none;
}

#hero-start {
    position: relative;
    top: -78px;
    font-family: $font-extra;
    font-size: 24px;
    text-align: center;
    @include mq($until: screen-md) {
        top: -18px;
    }
}
.hero-follow-us {
    width: 100%;
    text-align: center;
    .hero-follow-us-fb {
        @include mq($until: screen-xm) {
            width: 14px;
        }
    }
}
.hero-follow-us-title {
    font-family: $font-extra;
    font-size: 24px;
    margin-top: 8%;
    margin-bottom: 20px;
    @include mq($until: screen-md) {
        margin-top: 80px;
    }
}
.hero-follow-us-inner {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    a {
        display: block;
        width: 26px;
        height: 26px;
        margin: 0 15px;
        @include mq($until: screen-md) {
            margin: 0 4%;
        }
        svg {
            max-width: 100%;
            height: 100%;
        }
    }
}

.hero-copyright {
    position: absolute;
    left: 100px;
    bottom: 80px;
    color: $color-black;
    font-size: 11px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity, 1.3s, ease-in-out);
    @include mq($until: screen-xx) {
        left: 80px;
    }
    @include mq($until: screen-md) {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 30px 60px;
        text-align: center;
        opacity: 1;
        visibility: visible;
    }
}
.viewing-page-10 {
    .hero-copyright {
        opacity: 1;
        visibility: visible;
    }
}
