.hero-description {   
    position: absolute;
    // bottom: 0;
    left: 100px;
    width: 100%;
    max-width: 280px;
    min-height: 112px;
    @include mq($until: screen-xx) {
        left: 80px;
    }
    span {
        display: block;
        position: absolute;
        // top: -300px;
        left: 0;
        bottom: 0;
        color: $color-white;
        font-family: $font-base;
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        opacity: 0;
        visibility: hidden;
        @include transition(opacity, 1.3s, ease-in-out);
    }
}

@for $i from 0 through 9 {
    .viewing-page-#{$i} {
        .hero-description-#{$i} {
            // top: 0;
            opacity: 1;
            visibility: visible;
            /*animation-name: fadeInLeft;
            animation-duration: 1s;
            animation-fill-mode: both;*/
        }
    }
}

.viewing-page-3 {
    .hero-description-3 {
        top: auto;
        bottom: 0;
    }
}
.viewing-page-5 {
    .hero-description {
        max-width: 400px;
    }
    .hero-description-5 {
        top: auto;
        bottom: 0;
    }
}
