.hero-businesses {
    overflow: inherit!important;
    @include mq($until: screen-md) {
        // width: calc(100% - 30px);
        // margin: 0 15px 15px 15px;
        margin: 0 0 15px 0;
        background-image:
            radial-gradient(
            circle at bottom center,
            #5d6069,
            #282a2d
            );
    }
    @include mq($until: screen-xm) {
        margin-bottom: 25px;
    }
    &:before {
        @include mq($until: screen-md) {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url(img/hero-business-bg.png) right bottom no-repeat;
            background-size: 55%;
        }
    }
    &:after {
        content: '';
        display: block;
        background: linear-gradient(to top, rgb(32, 33, 49) 0%, rgb(1, 197, 229) 100%);
        width: 100%;
        height: 300px;
        position: absolute;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        @include transition(opacity, 1s, ease-in-out);
    }
    .hero-wrapper {
        display: none;
        @include mq($until: screen-md) {
            display: block;
        }
    }
    .hero-bg {
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: url(img/hero-business-bg.png) right bottom no-repeat;
            background-size: 55%;
        }
    }
}

.viewing-page-6 {
    .hero-businesses {
        &:after {
            opacity: 1;
        }
    }
}
