.hero-influencers {
    @include mq($until: screen-md) {
        // width: calc(100% - 30px);
        // margin: 0 15px 15px 15px;
        margin: 0 0 15px 0;
        background-image:
            radial-gradient(
            circle at bottom center,
            #5d6069,
            #282a2d
            );
    }
    @include mq($until: screen-xm) {
        margin-bottom: 25px;
    }
    .hero-wrapper {
        display: none;
        @include mq($until: screen-md) {
            display: block;
        }
    }
    .hero-person {
        right: -20px;
        // bottom: 0;
        @include mq($until: screen-md) {
            height: auto;
            right: 0;
        }
        @include mq($until: screen-xm) {
            bottom: -30px;
        }
        img {
            bottom: -45px;
            @include mq($until: screen-md) {
                right: -110px;
            }
        }
    }
    .hero-person-maxim {
        display: none;
        @include mq($until: screen-md) {
            display: block;
            right: 30px;
            bottom: 30px;
            font-size: 24px;
            line-height: 20px;
            text-align: right;
        }
        @include mq($until: screen-xs) {
            bottom: 0;
        }
        &:before {
            top: -15px;
            right: -15px;
            @include mq($until: screen-xs) {
                width: 110px;
                top: -36px;
                left: auto;
                right: 29px;
            }
        }
    }
}
