#hero-preloader {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: $color-dark-blue;
    overflow: hidden;
    #hero-progress {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-cyan;
        width: 1%;
        height: 5px;
        @include transition(width, 1s, ease-in-out);
    }
    .hero-preloader-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 320px;
        width: 100%;
        // height: 100px;
        margin-top: -43px;
        margin-left: -160px;
        padding: 40px;
        svg {
            fill: $color-white;
        }
    }
    .hero-preloader-circle {
        // top: 50%;
        img {
            animation: hero-circle 50000ms linear infinite;
            /*animation-name: hero-circle;
            animation-duration: 50000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;*/
        }
    }
}
