.hero-team {
    color: $color-black;
    background-color: $color-white;
    /*&:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        width: 20%;
        height: 100%;

        background: linear-gradient(to right, rgba(255,255,255,1) 30%,rgba(255,255,255,0.2) 86%,rgba(255,255,255,0) 100%);
    }*/
    /*&:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-white;
        @include mq($until: screen-md) {
            display: none;
        }
    }*/
    h3 {
        position: relative;
        z-index: 1;
        font-size: 24px;
        margin-top: 60px;
        margin-left: 80px;
        @include mq($until: screen-md) {
            font-size: 24px;
            line-height: 23px;
            margin: 0;
        }
        @include mq($until: screen-xm) {
            font-size: 18px;
            line-height: 17px;
        }
        span {
            display: block;            
            position: relative;
            left: -3px;
            font-size: 100px;
            line-height: 100px;
            @include mq($until: screen-md) {
                left: 0;
                font-size: 50px;
                line-height: 50px;
            }
            @include mq($until: screen-xm) {
                font-size: 36px;
                line-height: 36px;
            }
        }
    }
}
.hero-team-inner {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin-top: 36px;
    .hero-member {
        width: 25%;
        padding-right: 2px;
        @include mq($until: screen-md) {
            width: 50%;
            margin-bottom: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.hero-team-swiper {
    margin-top: 36px;
    height: auto;
    overflow: hidden;
    .swiper-button-prev, .swiper-button-next {
        border: none;
        /*border: 2px solid $color-white;
        background: transparent;*/
        @include mq($until: screen-md) {
            top: 34%;
        }
        @include mq($until: screen-sm) {
            // top: 29%;
        }
    }
}

.hero-member {
    @include flex-direction(column);
}

.hero-member-photo {
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: $color-black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-member-krukau {
    background-image: url(img/team/viktar-krukau.jpg);
}
.hero-member-shkor {
    background-image: url(img/team/alex-shkor.jpg);
}
.hero-member-korotkov {
    background-image: url(img/team/alexey-korotkov.jpg);
}
.hero-member-kartsev {
    background-image: url(img/team/alexander-kartsev.jpg);
}
.hero-member-zakharov {
    background-image: url(img/team/sergio-zakharov.jpg);
}
.hero-member-kupchik {
    background-image: url(img/team/alex-kupchik.jpg);
}
.hero-member-terebei {
    background-image: url(img/team/yulia-terebei.jpg);
}
.hero-member-kuryanovich {
    background-image: url(img/team/yulia-kuryanovich.jpg);
}
.hero-member-chaikouski {
    background-image: url(img/team/mikita-chaikouski.jpg);
}
.hero-member-kurachev {
    background-image: url(img/team/maxim-kurachev.jpg);
}
.hero-member-pisjaukow {
    background-image: url(img/team/constantine-pisjaukow.jpg);
}
.hero-member-safronau {
    background-image: url(img/team/andrei-safronau.jpg);
}
.hero-member-rusetskaya {
    background-image: url(img/team/yulia-rusetskaya.jpg);
}


.hero-member-contact {
    position: absolute;
    top: 18px;
    left: 20px;
    a {
        display: block;
        margin-bottom: 10px;
        opacity: .5;
        backface-visibility: hidden;
        @include transition(opacity, .25s, ease-in-out);
        &:hover {
            opacity: 1;
        }
    }
    svg {
        fill: $color-white;
    }
}
.hero-member-contact-in,
.hero-member-contact-telegram {
    width: 17px;
    @include mq($until: screen-xm) {
        width: 30px;
    }
}
.hero-member-contact-fb {
    width: 8px;
    @include mq($until: screen-xm) {
        width: 16px;
    }
}
.hero-member-name {
    font-family: $font-extra;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
    // padding-top: 35px;
    padding-top: 20px;
    @include mq($until: screen-xm) {
        br {
            // display: none;
        }
    }
    span {
        display: block;
        font-size: 24px;
        line-height: 23px;
        padding: 5px;
    }
}
