.hero-start {
    position: relative;
    @include mq($until: screen-md) {
        background: url(img/hero-start.jpg) center top no-repeat;
        background-size: cover;
        margin-bottom: 15px;
    }
    @include mq($until: screen-xm) {
        margin-bottom: 25px;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
        position: absolute;
        top: 0;
        left: -2px;
        width: 100%;
        height: 100%;
        padding-right: 2px;
        background: url(img/hero-grid.png);
    }
    .hero-wrapper {
        display: none;
        @include mq($until: screen-md) {
            display: block;
        }
        h1 {
            line-height: 77px;
            @include mq($until: screen-md) {
                font-size: 72px;
                line-height: 58px;
                margin-top: 60px;
            }
            @include mq($until: screen-xm) {
                font-size: 50px;
                line-height: 42px;
                margin-top: 50px;
            }
            @include mq($until: screen-xs) {
                font-size: 36px;
                line-height: 29px;
            }
        }
    }
    .hero-link-join-us {
        display: none;
        cursor: pointer;
        background: transparent;
        color: $color-white;
        font-family: $font-extra;
        font-size: 20px;
        line-height: 20px;
        // margin-top: 10px;
        margin-top: 3%;
        margin-left: 180px;
        padding: 9px 30px 6px 30px;
        border: 3px solid $color-white;
        @include transition(all, .3s, ease-in-out);
        &:hover {
            background-color: $color-white;
            color: $color-dark-blue;
        }
        @include mq($until: screen-md) {
            display: inline-block;
            margin-left: 0;
        }
    }
    .hero-start-date {
        top: auto;
        right: 60px;
        bottom: 30px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        @include mq($until: screen-md) {
            opacity: 1;
            visibility: visible;
        }
        @include mq($until: screen-sm) {
            right: 30px;
        }
        @include mq($until: screen-xs) {
            // bottom: 20px;
        }
    }
}

.hero-start-tilt {
    background: url(img/hero-start.jpg) center top no-repeat;
    background-size: cover;
    position: absolute;
    top: -10%;
    left: -10%;
    right: 0;
    bottom: 0;
    width: 120%;
    height: 120%;
    // transform-style: preserve-3d;
    will-change: transform;
    transition: 15000ms cubic-bezier(0.05, 0.98, 0.11, 0.01)!important;
    @include mq($until: screen-md) {
        display: none;
    }
}

.hero-start-person {
    position: absolute;
    right: -100px;
    bottom: -20px;
    z-index: 1;
    max-width: 748px;
    overflow: hidden;
    // transform: translateZ(40px);
    @include mq($until: screen-md) {
        right: 0;
        bottom: 0;
        max-width: 100%;
        width: 500px;
    }
    @include mq($until: screen-sm) {
        max-width: 500px;
    }
    img {
        position: relative;
        @include mq($until: screen-md) {
            right: -180px;
            bottom: -20px;
        }
        @include mq($until: screen-sl) {
            right: -280px;
        }
        @include mq($until: screen-sm) {
            right: -60%;
        }
        @include mq($until: screen-sm) {
            right: -70%;
        }
    }
}

.hero-start-date {
    @include flexbox();
    @include flex-direction(row);
    position: absolute;
    top: 0;
    right: 100px;
    text-align: right;
    font-family: $font-extra;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity, 1.3s, ease-in-out);
    @include mq($until: screen-xx) {
        right: 80px;
    }
    @include mq($until: screen-xs) {
        @include flex-direction(column);
        @include align-items(center);
    }
}
.hero-start-date-left {
    line-height: 17px;
    padding-top: 33px;
    padding-right: 8px;
    @include mq($until: screen-xs) {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        position: absolute;
        top: -20px;
        height: 160px;
        padding-top: 0;
        padding-right: 0;
    }
    span {
        display: block;
        margin-bottom: 15px;
        @include mq($until: screen-xs) {
            white-space: nowrap;
            // padding-right: 10px;
            br {
                display: none;
            }
        }
    }
}
.hero-start-date-calendar {
    display: block;
    background-color: $color-white;
    color: $color-black;
    line-height: 0;
    text-align: center;
    padding: 12px 2px 8px 3px;
}
.hero-start-date-number {
    display: block;
    font-size: 100px;
    padding-top: 2px;
}
.hero-start-content {
    position: absolute;
    top: 24%;
    left: 50%;
    z-index: 2;
    width: 100%;
    max-width: 1137px;
    margin-left: -568px;
    padding: 0 180px;
    opacity: 0;
    visibility: hidden;
    // @include transition(opacity, .3s, ease-in-out);
    @include mq($until: screen-xl) {
        left: 0;
        margin-left: 0;
    }
    @include mq($until: screen-md) {
        display: none;
    }
    h1 {
        color: $color-white;
        line-height: 77px;
        @include mq($until: screen-xl) {
            // margin-left: 80px;
        }
    }
    /*.hero-link-join-us {
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: $color-white;
        font-family: $font-extra;
        font-size: 20px;
        line-height: 20px;
        margin-top: 10px;
        padding: 9px 30px 6px 30px;
        border: 3px solid $color-white;
        @include transition(all, .3s, ease-in-out);
        @include mq($until: screen-xl) {
            // margin-left: 80px;
        }
        &:hover {
            background-color: $color-white;
            color: $color-dark-blue;
        }
    }*/
}

.viewing-page-1 {
    .hero-start-content {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity .3s ease-in-out .2s;
        -moz-transition: opacity .3s ease-in-out .2s;
        -o-transition: opacity .3s ease-in-out .2s;
        transition: opacity .3s ease-in-out .2s;
    }
    .hero-footer {
        .hero-start-date {
            opacity: 1;
            visibility: visible;
        }
    }
}
.viewing-page-2 {
    .hero-start-content {
        opacity: 0;
        visibility: hidden;
    }
}
