#hero-popup-join-us {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;    
    opacity: 0;
    visibility: hidden;
    @include transition(opacity, .4s, ease-in-out);
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(1,197,229,1) 30%, rgba(1,197,229,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(1,197,229,1) 30%,rgba(1,197,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(1,197,229,1) 30%,rgba(1,197,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01c5e5', endColorstr='#0001c5e5',GradientType=0 ); /* IE6-9 */
        opacity: 0;
        visibility: hidden;
    }
    &.hero-popup-show {
        opacity: 1;
        visibility: visible;
        &:after {
            @include transition(all, 1.5s, ease-out);
            opacity: 1;
            visibility: visible;
        }
        .hero-popup-join-us-wrapper {
            top: 0;
            opacity: 1;
            visibility: visible;
        }
    }
    .hero-wrapper {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        // background: $color-white;
        text-align: center;
        // width: 100%;
        // max-width: 100%;
        height: 100%;
        // min-height: 384px;
    }
    form {
        width: 100%;
        max-width: 400px;
        margin: 10px auto 0 auto;
        input[name="hero-subscribe-email"] {
            width: 70%;
            @include mq($until: screen-xm) {
                width: 100%;
            }
        }
        input[type="submit"] {
            width: 28%;
            @include mq($until: screen-xm) {
                width: 100%;
                margin-top: 8px;
            }
        }
    }
}
.hero-popup-join-us-wrapper {
    position: absolute;
    top: -100%;
    z-index: 1001;
    background: $color-white;
    width: 100%;
    height: 40%;
    min-height: 384px;
    opacity: 0;
    visibility: hidden;
    @include transition(all, .4s, ease-out);
}
.hero-popup-close {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 1;
    overflow: hidden;
    @include transition(opacity, .3s, ease-in-out);
    @include mq($until: screen-md) {
        top: 35px;
        right: 57px;
    }
    @include mq($until: screen-xm) {
        top: 20px;
        right: 27px;
    }
    &:hover {
        opacity: .8;
        &:before, &:after {
            // background: $color-cyan;
        }
    }    
    &:before, &:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: $color-black;
    }
    &:before {
        @include transform(rotate(45deg));
    }
    &:after {
        @include transform(rotate(-45deg));
    }
}
.hero-popup-join-us-title {
    color: $color-black;
    font-family: $font-extra;
    font-size: 48px;
    @include mq($until: screen-xm) {
        font-size: 36px;
    }
}
