@include keyframe(hero-circle) {
    0%, from {
        @include transform(rotate(0deg));
    }
    100%, to {
        @include transform(rotate(360deg));
    }
}

@include keyframe(hero-phone) {
    0%, from {
        background-position: 0px top;
    }
    100%, to {
        background-position: -6000px top;
    }
}

@include keyframe(hero-phone-reverse) {
    0%, from {
        background-position: -6000px top;
    }
    100%, to {
        background-position: 0px top;
    }
}

@include keyframe(hero-phone-layers) {
    0%, from {
        background-position: -6000px top;
    }
    100%, to {
        background-position: -9000px top;
    }
}

@include keyframe(hero-phone-layers-reverse) {
    0%, from {
        background-position: -9000px top;
    }
    100%, to {
        background-position: -6000px top;
    }
}

@include keyframe(blink) {
    0%, from {
        opacity: 0;
        visibility: hidden;
    }
    100%, to {
        opacity: 1;
        visibility: visible;
    }
}
