
/*------------------------------------
  BASE
------------------------------------*/

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
  @include mq($until: screen-md) {
    overflow: initial!important;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // min-width: 1137px;
  overflow: auto!important;
}

body {
  font-family: $font-base;
  background-color: $color-cyan;
}

.hero-wrapper {
  position: relative;
  z-index: 1;
  width: calc(100% - 160px);
  max-width: 1137px;
  margin: 0 auto;
  padding: 0 100px;
  @include mq($until: screen-xx) {
    padding: 0 80px;
  }
  @include mq($until: screen-md) {
    width: 100%;
    padding: 0 60px;
  }
  @include mq($until: screen-xm) {
    padding: 0 30px;
  }
  p {
    @include mq($until: screen-md) {
      font-weight: bold;
      line-height: 21px;
      margin: 20px 0;
      width: 56%;
    }
    @include mq($until: screen-sl) {
      width: 52%;
    }
    @include mq($until: screen-sm) {
      font-size: 16px;
      line-height: 19px;
    }
    @include mq($until: screen-xs) {
      font-size: 14px;
      width: 60%;
    }
  }
}

h1 {
  font-family: $font-extra;
  font-size: 100px;
}

h3 {
  font-family: $font-extra;
  font-size: 24px;
  line-height: 23px;
  @include mq($until: screen-xm) {
    font-size: 18px;
    line-height: 17px;
  }
  span {
      display: block;
      font-size: 50px;
      line-height: 50px;
      @include mq($until: screen-xm) {
        font-size: 36px;
        line-height: 36px;
      }
  }
}

a,
input {
  outline: none;
}

a {
  text-decoration: none;
  // @include transition(all, .3s, ease-in-out);
}

img {
  max-width: 100%;
  max-height: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  letter-spacing: -0.025rem;
  height: 40px;
  padding: 0 15px;
  border: 1px solid $color-black;
  @include border-radius(0);
  @include transition(all, .3s, ease-in-out);
}
input[type="submit"] {
  cursor: pointer;
  font-family: $font-extra;
  font-size: 20px;
  letter-spacing: normal;
  padding-top: 3px;
  background-color: $color-white;
  border: 3px solid $color-black;
  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

.hero-current-lang {
  pointer-events: none;
  opacity: .5;
}

.hero-sections {
  color: $color-white;
  section {
    @include flexbox();
    padding-top: 100px;
    overflow: hidden;
    @include mq($until: screen-md) {
      display: block;
      position: relative;
      padding-top: 60px;
      padding-bottom: 60px;
      // overflow: inherit;
    }
  }
}

.hero-sections {
  .hero-start,
  .hero-individuals,
  .hero-professionals,
  .hero-influencers,
  .hero-businesses {
    @include mq($until: screen-md) {
      padding-top: 100px;
      padding-bottom: 200px;
      overflow: inherit;
    }
    @include mq($until: screen-xm) {
      padding-top: 60px;
      padding-bottom: 150px;
    }
  }
  .hero-individuals,
  .hero-professionals,
  .hero-influencers,
  .hero-businesses {
    p {
      margin: 20px 0 30px 0;
      @include mq($until: screen-md) {
        margin-top: 10px;
      }
    }
  }
  .hero-businesses {
    @include mq($until: screen-md) {
      padding-bottom: 100px;
    }
    @include mq($until: screen-sl) {
      padding-bottom: 60px;
    }
    @include mq($until: screen-xm) {
      padding-bottom: 30px;
    }
  }
  .hero-individuals,
  .hero-professionals,
  .hero-influencers {
    .hero-phone-mob {
      @include mq($until: screen-sl) {
        left: 5%;
      }
      @include mq($until: screen-xm) {
        left: 0;
      }
    }
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  background-image:
    radial-gradient(
      circle at bottom center,
      #5d6069,
      #282a2d
    );
  // will-change: transform;
  transition: 8000ms cubic-bezier(0.04, 0.98, 0.11, 0.01)!important;
  @include mq($until: screen-md) {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    transition: none!important;
  }
}
.hero-person {
  /*@include flexbox();
  @include flex-direction(row-reverse);
  @include justify-content(flex-end);*/
  min-width: 660px;
  width: 54%;
  // height: 75%;
  position: absolute;
  right: -80px;
  bottom: 0;
  @include mq($until: screen-md) {
    width: 480px;
    height: auto;
    min-width: 0;
    right: 0;
    bottom: -20px;
    overflow: hidden;
  }
  @include mq($until: screen-xm) {
    width: 380px;
  }
  img {
    position: relative;
    right: -20px;
    bottom: -20px;
    @include mq($until: screen-sl) {
      right: -30%;
    }
  }
}
.hero-person-steve {
  span {
    display: block;
    font-size: 46px;
    line-height: 40px;
  }
}
.hero-person-maxim {
  &:before {
    content: '';
    display: block;
    background-image: url(img/hero-person-maxim-prodigy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    top: -44px;
    left: -114px;  
  }
}
.hero-person-steve,
.hero-person-maxim {
  position: absolute;
  right: 100px;
  bottom: 30px;
  z-index: 1;
  display: block;
  font-family: $font-extra;
  font-size: 38px;
  line-height: 30px;
  opacity: 0;
  visibility: hidden;
  @include transition(opacity, 1s, ease-in);
  @include mq($until: screen-md) {
    visibility: visible;
    opacity: 1;
  }
}

.viewing-page-3 {
  .hero-person-steve {
    opacity: 1;
    visibility: visible;
  }
}
.viewing-page-4 {
  .hero-person-maxim {
    opacity: 1;
    visibility: visible;
  }
}
.js-tilt-glare-inner {
  background-image: linear-gradient(0deg, rgb(1, 197, 229) 10%, rgba(255, 255, 255, 0) 40%)!important;
}
.onepage-pagination {
  display: none!important;
}

.viewing-page-7,
.viewing-page-8,
.viewing-page-9,
.viewing-page-10 {
  background-color: $color-white;
  .ops-section {
    color: $color-black;
  }
  .hero-header {
      color: $color-black;
      .hero-wrapper {
          &:before,
          &:after {
            background-color: $color-black;
          }
      }
      .hero-nav {
        a {
          color: $color-black;
        }
      }
      .hero-link-join-us {
        color: $color-black;
        border-color: $color-black;
        &:hover {
          color: $color-white;
          background-color: $color-black;
        }
      }
  }
  .hero-footer {
    .hero-wrapper {
      &:before,
      &:after {
          background-color: $color-black;
      }
    }
  }
  .hero-lang ul {
    border: 2px solid $color-black;
    top: 34px;
    @include mq($until: screen-xl) {
      border: none;
      top: auto;
    }
  }
  .hero-lang>span:after {
    border-top: 8px solid $color-black;
    // @include transition(border, .75s, ease-in);
  }
  .hero-logo svg {
    fill: $color-black;
  }
  .hero-social svg {
    fill: $color-black;
  }
  .hero-wallet {
    border-color: $color-black;
  }
  .hero-description {
    span {
      color: $color-black;
    }
  }
  #hero-hamburger {
    .hero-hamburger-inner {
      background-color: $color-black;
      &:before,
      &:after {
        background-color: $color-black;
      }
    }
  }
}
.viewing-page-10 {
  .hero-social {
    opacity: 0;
    visibility: hidden;
  }
}


.flex {
  min-width: 100%;
}
.splash {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  background-color: $color-black;
  &:before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    height: 100%;
    padding-right: 2px;
    background-image: url(img/hero-grid-investors.png);
    opacity: .5;  
  }
  h1 {
    color: $color-white;
    position: relative;
    z-index: 1;
  }
}
