.hero-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 160px;
    color: $color-white;
    @include mq($until: screen-md) {
        position: relative;
        background-color: $color-white;
        height: auto;
    }
    .hero-wrapper {
        height: 100%;
        padding: 0;
        &:before,
        &:after {
            content: '';
            display: block;
            width: 7px;
            position: absolute;
            right: 0;
            background-color: $color-white;
            // @include transition(background-color, .75s, ease-in);
            @include transition(background-color, .3s, ease-in-out);
            @include mq($until: screen-md) {
                display: none;
            }
        }
        &:before {
            top: 0;
            height: 11px;
        }
        &:after {
            bottom: 0;
            height: 114px;
        }
    }
    a {
        display: block;
        color: $color-white;
        // height: 20px;
    }
    .hero-start-date,
    .hero-persons,
    .hero-investors-chart,
    .hero-investors-price,
    .hero-description {
        @include mq($until: screen-md) {
            display: none;
        }
    }
}

.hero-social {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include align-items(center);
    position: relative;
    // top: -132px;
    float: left;
    min-height: 112px;
    // height: 242px;
    padding-top: 5px;
    opacity: 1;
    visibility: visible;
    @include transition(opacity, .3s, ease-in-out);
    @include mq($until: screen-md) {
        display: none;
    }
    svg {
        fill: $color-white;
        // @include transition(fill, .75s, ease-in);
        @include transition(fill, .3s, ease-in-out);
    }
}
.hero-social-fb {
    width: 8px;
}
.hero-social-telegram,
.hero-social-tw,
.hero-social-instagram,
.hero-social-medium,
.hero-social-github,
.hero-social-reddit {
    // width: 16px;
    width: 26px;
}
