#hero-hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 60px;
    width: 36px;
    height: 22px;
    @include mq($until: screen-xl) {
        display: block;
    }
    @include mq($until: screen-xm) {
        top: 30px;
        right: 30px;
    }
    .hero-hamburger-inner {
        background-color: $color-white;
        position: absolute;
        width: 100%;
        height: 3px;
        /*transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;*/
        border-radius: 4px;
        &:before, &:after {
            content: '';
            display: block;
            background-color: $color-white;
            position: absolute;
            width: 100%;
            height: 3px;
            /*transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;*/
            border-radius: 4px;
        }
        &:before {
            top: 9px;
        }
        &:after {
            top: 18px;
            right: 0;
            width: 28px;
        }
    }
}
