.hero-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;
    color: $color-white;
    // @include transition(color, .75s, ease-in);
    @include mq($until: screen-xl) {
        position: absolute;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: $color-black;
            opacity: 0;
            @include transition(opacity, .3s, ease-in-out);
        }
    }
    .hero-wrapper {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-between);
        &:before,
        &:after {
            content: '';
            display: block;
            width: 7px;
            position: absolute;
            top: 0;
            background-color: $color-white;
            // @include transition(background-color, .75s, ease-in);
            @include transition(background-color, .3s, ease-in-out);
            @include mq($until: screen-md) {
                display: none;
            }
        }
        &:before {
            left: 0;
            height: 133px;
        }
        &:after {
            right: 0;
            height: 45px;
        }
    }
    .hero-nav {
        position: relative;
        top: 1px;
        a {
            color: $color-white;
            font-family: $font-extra;
            font-size: 20px;
            // @include transition(all, .75s, ease-in);
            @include mq($until: screen-xl) {
                color: $color-black;
                font-size: 36px;
            }
        }
    }
    .hero-link-join-us {
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: $color-white;
        font-family: $font-extra;
        font-size: 20px;
        line-height: 20px;
        white-space: nowrap;
        // margin-top: 10px;
        margin: 0 20px;
        padding: 9px 30px 6px 30px;
        border: 3px solid $color-white;
        @include transition(all, .3s, ease-in-out!important);
        @include mq($until: screen-xl) {
            color: $color-black;
            border-color: $color-black;
        }
        &:hover {
            background-color: $color-white;
            color: $color-black;
            @include mq($until: screen-md) {
                color: $color-white;
                background-color: $color-black;
            }
        }
    }
}

.hero-header-right {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    padding-top: 34px;
    min-width: 460px;
    @include transition(all, .4s, ease-in-out);
    @include mq($until: screen-xl) {
        @include flex-direction(column);
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 9;
        width: 100%;
        min-width: auto;
        padding-top: 0;
        text-align: center;
        background-color: $color-white;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }
    &.hero-nav-show {
        top: 0;
        padding: 80px 60px 0 60px;
        opacity: 1;
        visibility: visible;
        @include mq($until: screen-xm) {
            padding-left: 30px;
            padding-right: 30px;
        }
        .hero-popup-close {
            opacity: 1;
            visibility: visible;
        }
    }
    .hero-popup-close {
        opacity: 0;
        visibility: hidden;
        // position: fixed;
        top: 35px;
        right: 57px;
        @include mq($until: screen-xl) {
            right: 137px;
        }
        @include mq($until: screen-xm) {
            top: 20px;
            right: 27px;
        }
    }
}

.hero-logo {
    width: 130px;
    margin-top: 44px;
    @include mq($until: screen-xm) {
        margin-top: 30px;
    }
    svg {
        fill: $color-white;
        // @include transition(fill, .75s, ease-in);
        @include transition(fill, .3s, ease-in-out);
    }
}

.hero-nav {
    ul {
        li {
            display: inline-block;
            @include mq($until: screen-xl) {
                display: block;
            }
        }
    }
    a {
        display: block;
        margin-right: 20px;
        overflow: hidden;
	    padding: 0 4px;
        height: 1em;
        // @include transition(color, .75s, ease-in);
        @include transition(color, .3s, ease-in-out);
        @include mq($until: screen-xx) {
            margin-right: 15px;
        }
        @include mq($until: screen-xl) {
            margin-right: 0;
            margin-bottom: 20px;
        }
        &:hover,
        &:focus {
            span {
                -webkit-transform: translateY(100%);
	            -moz-transform: translateY(100%);
	            transform: translateY(100%);
            }
        }
        span {
            position: relative;
            display: inline-block;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            &:before {
                position: absolute;
                top: -100%;
                content: attr(data-hover);
                font-weight: 700;
                -webkit-transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }
    }
}

.hero-lang {
    position: relative;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    font-family: $font-extra;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
    @include mq($until: screen-xl) {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
        border-top: 2px solid $color-black;
    }
    > span {
        // @include transition(color, .75s, ease-in);
        // @include transition(color, .3s, ease-in-out);
        @include mq($until: screen-xl) {
            display: none;
        }
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid $color-white;
            position: absolute;
            top: 22px;
            left: 50%;
            margin-left: -8px;
            // @include transition(border, .75s, ease-in);
            @include transition(border, .3s, ease-in-out);
        }
    }
    ul {
        position: absolute;
        top: 36px;
        background-color: $color-white;
        opacity: 0;
        visibility: hidden;
        @include transition(all, .25s, ease-in-out);
        @include mq($until: screen-xl) {
            position: relative;
            top: auto;
            opacity: 1;
            visibility: visible;
        }
        li {
            display: block;
            @include mq($until: screen-xl) {
                display: inline-block;
            }
        }
        a {
            display: block;
            color: $color-black;
            font-family: $font-base;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 23px;
            padding: 6px 20px;
            @include transition(all, .25s, ease-in-out);
            &:hover {
                color: $color-white;
                background-color: $color-cyan;
            }
            @include mq($until: screen-xl) {
                font-family: $font-extra;
                font-size: 20px;
                padding: 20px;
            }
            @include mq($until: screen-xm) {
                padding: 20px 10px;
            }
        }
    }
}
.hero-lang-show {
    ul {
        opacity: 1;
        visibility: visible;
    }
}

.hero-wallet {
    // display: none;
    display: block;
    line-height: 20px;
    padding: 9px 20px 6px 20px;
    border: 2px solid $color-white;
    @include border-radius(25px);
    // @include transition(all, .75s, ease-in);
    &:hover {
        // color: $color-black;
        background-color: $color-cyan;
        border-color: $color-cyan;
    }
}

.hero-revealed {
    @include mq($until: screen-md) {
        position: fixed;
        &:after {
            /*content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: $color-black;*/
            opacity: .85;
        }
    }
}
