[lang="ru"] {
    .hero-phone {
        .hero-state-individuals {
            background-image: url(img/hero-state-individuals-ru.png);
        }
        .hero-state-prodigy {
            background-image: url(img/hero-state-prodigy-ru.png);
        }
    }
    .hero-state-business {
        left: 114px;
        top: 121px;
        .hero-state-business-layer-5 {
            font-size: 14px;
            padding-left: 36px;
            &:before {
                top: 10px;
                left: 10px;
            }
        }
    }
    .hero-investors-circle-desc {
        // height: 96px;
        margin-top: -48px;
        @include mq($until: screen-md) {
            // height: 76px;
            margin-top: -38px;
        }
        @include mq($until: screen-sm) {
            margin-top: -27px;
        }
        @include mq($until: screen-xm) {
            font-size: 18px;
        }
        @include mq($until: screen-xs) {
            margin-top: -24px;
        }
        span {
            font-size: 72px;
            @include mq($until: screen-md) {
                font-size: 48px;
            }
            @include mq($until: screen-sm) {
                font-size: 36px;
            }
            @include mq($until: screen-xs) {
                font-size: 30px;
            }
        }
    }
    .hero-join-us {
        .hero-link-join-us {
            font-size: 42px;
            @include mq($until: screen-sm) {
                font-size: 36px;
            }
            @include mq($until: screen-xm) {
                font-size: 30px;
            }
            @include mq($until: screen-xs) {
                font-size: 24px;
            }
        }
    }
    .hero-swiper-links {
        @include mq($until: screen-xs) {
            top: -70px;
        }
    }
    .viewing-page-3 {
        .hero-description {
            max-width: 320px;
        }
    }
    .viewing-page-4 {
        .hero-description-4 {
            top: auto;
            bottom: 0;
        }
    }
}
