
/*------------------------------------
  FONTS
------------------------------------*/

@font-face {
  font-family: 'BebasNeue';
  src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/BebasNeueBold.otf') format('opentype'),
       url('fonts/BebasNeueBold.woff') format('woff'),
       url('fonts/BebasNeueBold.ttf') format('truetype'),
       url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
