/* Colors */
$color-white: #fff;
$color-black: #14141e;
$color-light-gray: #e5e5e5;
$color-cyan: #01c5e5;
$color-dark-blue: #202131;
$color-orange: #f77220;
$color-yellow: #fad05c;

/* Fonts */
$font-base: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-extra: 'BebasNeue', Helvetica, Arial, sans-serif;

/* Herocoin in percentages */
$percent-investors: 60%;
$percent-development: 20%;
$percent-team: 10%;
$percent-reserve: 10%;

$mq-breakpoints: (
  screen-xs: 380px,
  screen-xm: 481px,
  screen-sm: 560px,
  screen-sl: 640px,
  screen-md: 768px,
  screen-xl: 1137px,
  screen-xx: 1240px
);

/* animation */
// $animate-color-link: color, .25s, ease-in-out;

/*
$font-size-base: 18px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-style-normal: normal;
$font-style-italic: italic;*/

/*
$mq-breakpoints: (
  screen-xs: 321px,
  screen-xm: 425px,
  screen-sm: 560px,
  screen-sl: 640px,
  screen-md: 768px,
  screen-lg: 980px,
  screen-xl: 1024px,
  screen-xll: 1175px,
  screen-xx: 1280px,
  screen-xxs: 1400px,
  screen-xxm: 1440px,
  screen-xxd: 1800px,
  screen-xxl: 1890px,
  screen-nxs: 540px,
  screen-nxm: 590px,
  screen-nxmm: 658px,
  screen-nsm: 767px,
  screen-nsl: 770px,   
  screen-nmd: 870px,
  screen-nlg: 1068px,
  screen-nxl: 1279px,
  screen-nxll: 63.99em 
);
*/
